html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: Arial;
}

body
{
 background-color: green;
}

#dragdrop {
	width: auto;
	height: 200px;
	border: 5px solid #DDD;
	border-radius: 8px;
	background-color: gold;
	text-align: center;
	color: yellow;
	font-size: 2em;
	font-family: Arial, sans-serif;

	border-style: dashed;
   	border-color: #DDD;
	transition:.5s;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

table.table_out {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  margin-left:auto; 
  margin-right:auto;
    
  /*text-align: center;*/
  min-width: 1400px;
  max-width: 1400px;
  
  border-spacing: 8px;
  border-collapse: separate;
}

table.table_out td        { vertical-align: top; text-align: left;} 
table.table_out th        { vertical-align: top; font-size: 150%;} 

table.table_out td.output_content {
   padding: 15px;
   border-style: none;
   background-color: white;
   border-radius: 20px;
   max-width: 2000px;
   overflow-x: auto;
}

table.table_out td.input_content {
   padding: 25px;
   border-style: none;
   background-color: white;
   border-radius: 20px;
   text-shadow: rgba(0, 0, 0, 0.15) 0.1em 0.1em 0.2em;
   max-width: 2000px;
   overflow-x: auto;
}


h1 {
  text-align: center;
  font-size: 250%;
  
  background: #232323;
  padding: 10px 15px;
  color: white;
  border-radius: 10px 10px 10px 10px;
    
  margin-left:auto; 
  margin-right:auto;
}

/*td.td_output  {max-height: 800px; display: block; overflow-y: scroll; overflow-x: hidden; } */

.hidden      { display: none; }
.unhidden    { display: block; }

ol.ol_output {color: black; font-weight: bold; }
li {border-radius: 10px 10px 10px 10px; padding: 15px 15px 15px 15px;}

li.repeated                    { background-color: #ff9a9a; transition:.3s;} 
li.repeated:hover              { background-color: #ff0000; transition:.3s;} 
li.repeated span               { color: white; transition:.3s; }
li.repeated:hover span         { color: black; transition:.3s; }


li.header                      { background-color: #e6efff; transition:.3s;}
li.header:hover                { background-color: #005aff; transition:.3s;}
li.header:hover span           { color: white; transition:.3s; }
li.header span                 { color: black; transition:.3s; }

li.comments                    { background-color: #ffead5; transition:.3s; }
li.comments:hover              { background-color: #f37d0a; transition:.3s; }
li.comments span               { color: black; transition:.3s; }
li.comments:hover span         { color: white; transition:.3s; }

li.blanks                      { background-color: #ebffd5; transition:.3s; }
li.blanks:hover                { background-color: #63bc03; transition:.3s; }
li.blanks span                 { color: black; transition:.3s; }
li.blanks:hover span           { color: white; transition:.3s; }

li.nameEqualValue              { background-color: #d5fffb; transition:.3s; }
li.nameEqualValue:hover        { background-color: #0dd7c2; transition:.3s; }
li.nameEqualValue span         { color: black; transition:.3s; }
li.nameEqualValue:hover span   { color: white; transition:.3s; }

li.error                       { background-color: #ff9a9a; transition:.3s; }
li.error:hover                 { background-color: #ff0000; transition:.3s; }
li.error span                  { color: black; transition:.3s; }
li.error:hover span            { color: white; transition:.3s; }


