<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>*Robabeh Salehi*  INI files  *Yousef Rajaei*</title>
     <link href="global.css" rel="stylesheet" type="text/css">
<!--
     <link rel="shortcut icon" href="logo.png" />
-->
     <link rel="shortcut icon" href="etsiiull.png" type="image/x-icon">

     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

     <script type="text/javascript" src="ini.js"></script>
  </head>
  <body>
	<!-- Plantilla para generar el contenido de la lista -->
<script type="text/html" id="template_outList">
<ol class="ol_output"> <% _.each(tokens, function(token, index){ %> <li class = "<%= token.type %>"> <span> <%= matches[index] %> </span></li> <% }); %> </ol>
</script>

    <!-- Contenido principal del documento -->
    <table class="table_out">
      <tr><td><h1>Ficheros INI</h1></td></tr>
      <tr><td> <div class="input" id="dragdrop"><br>Arrastre el fichero aquí...</div></td></tr>
      <tr><td><br><input type="file" id="fileinput" /></td></tr>
    </table>
    <div id="out" class="hidden">
    <table class="table_out">
      <tr><th>Original</th><th>Tokens</th></tr>
      <tr>
        <td class="input_content">
          <pre class="input" id="initialinput"></pre>
        </td>
        <td class="output_content">
          <pre class="output" id="finaloutput"></pre>
        </td>
      </tr>
    </table>
    </div>
  </body>
</html>
